# Configurações do banco
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=db
POSTGRES_PORT=5432

# Configurações do app
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# Porta da aplicação
APP_PORT=8080

# JWT Token key
SECRET_KEY=alguma-coisa